<footer class="container padding-top-bottom-zero">
         <div class="text-align-center">
            <a href="index.html" class="f_logo margin-top-15px margin-bottom-zero"><img class="logo-width" src="assets/images/f_logo.png" alt=""></a>
            <div class="margin-zero">
                &{{ year }} | <a href="#">Privacy Policy</a> <br> {{ createdby }} <a
                    href="{{ url }}" rel="nofollow" target="_blank">{{ company }}</a>
            </div>
        </div>
</footer>
<style>
    .logo-width {
        max-width: 15vw;
    }
    .margin-top-15px{
        margin-top: 15px;;
    }
</style>