<div class="content">
    <br>
    <div class="row">
        <div class="col-lg-1 col-xs-1"></div>
        <div class="col-lg-7 col-xs-7">
            <div class="restaurant-details-card">
                <div class="col-lg-4 col-xs-4">
                    <img [src]="restaurant.imagePathHref">
                </div>
                <div class="col-lg-6 col-xs-6">
                    <span class="restaurant-title">{{restaurant.name}}</span><br>
                    <span class="category">{{restaurant.type}} - {{restaurant.category}}</span><br><br>
                    <span class="area">{{restaurant.area}}</span><br>
                    <span class="status green"><i class="fa fa-circle-o"></i> Open now</span>

                </div>
                <div class="col-lg-2 col-xs-2 center">
                    <span class="restaurant-rating label" [ngClass]="getBGcolorForRating(restaurant.rating)">
                        {{restaurant.rating}}
                    </span><br>
                    <i class="fa" [ngClass]="getStarForRating(restaurant.rating,1)"></i>
                    <i class="fa" [ngClass]="getStarForRating(restaurant.rating,2)"></i>
                    <i class="fa" [ngClass]="getStarForRating(restaurant.rating,3)"></i>
                    <i class="fa" [ngClass]="getStarForRating(restaurant.rating,4)"></i>
                    <i class="fa" [ngClass]="getStarForRating(restaurant.rating,5)"></i>
                </div>
            </div>
            <div class="fixed-tab center row">
                <div class="col-lg-2 col-xs-2"></div>
                <a id="menu" class="col-lg-2 col-xs-2" routerLink="reservation-menu" routerLinkActive="active"><i class="fa fa-book"></i> Menu
                </a>
                <a id="reserve" class="col-lg-3 col-xs-3" routerLink="reserve-table" routerLinkActive="active"><i class="fa fa-calendar"></i>
                    Reserve Table</a>
                <a id="order" class="col-lg-2 col-xs-2" (click)="navigateToOrder(restaurant.id)"><i class="fa fa-cutlery"></i>
                    Order Now</a>
                <div class="col-lg-3 col-xs-3"></div>
            </div>
            <br>
            <div class="sub-content">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="col-lg-3 col-xs-3">
            <div class="hours-card">
                <h3>Restaurant Hours:</h3><br>
                <hr>
                <span class="time">Breakfast:</span><span class="pull-right">{{restaurant.reservation.hours?.split(',')[0]}}</span><br>
                <span class="time">Lunch:</span><span class="pull-right">{{restaurant.reservation.hours?.split(',')[1]}}</span><br>
                <span class="time">Dinner:</span><span class="pull-right">{{restaurant.reservation.hours?.split(',')[2]}}</span><br>
            </div>
        </div>
        <div class="col-lg-1 col-xs-1"></div>
    </div>
</div>