.post-card{
    overflow: hidden;
    margin-bottom: 5%;
}

.post-card.trending:hover{
    box-shadow: 2px 0px 10px;
    cursor: pointer;
}

.post-card:hover{
    cursor: pointer;
    /* border:0.5px solid #d3d5df; */
    box-shadow: 1px 4px 7px 1px rgba(0, 0, 0, 0.5);
}

.post-card.trending .title {
    font: 18px/20px 'Open Sans', sans-serif;
    font-weight: bold;
}

.post-card .title {
    font: 18px/20px 'Open Sans', sans-serif;
    font-size: 1em;
    margin-bottom: 2%;
    font-weight: bold;
}

.post-card time {
    position: relative;
    top: 2px;
}

.post-card.trending p span {
    background-color: white;
}

.post-card p span {
    display: inline-block;
    background-color: #000000;
    width: 1px;
    height: 15px;
    position: relative;
    top: 4px;
    margin: 0px 8px 0 8px;
}

.post-card img{
    width: 100%;
}

.post-content.trending{
    position: absolute;
    bottom: 5%;
    background-color: rgba(0,0,0,0.5);
    width: 93.3%;
    color: white !important;
}

.category-title{
    margin-left: 2%;
}

#food-drink{
    margin-top: 2%;
}
#restaurant{
    margin-top: 2%;
}